# Example environment variables for local development or Render
SECRET_KEY=replace-with-secret
DEBUG=False
# DATABASE_URL for production Postgres (on Render)
# DATABASE_URL=postgresql://user:pass@host:port/dbname
USE_CLOUDINARY=True
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
ALLOWED_HOSTS=your-domain.onrender.com
